body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.summary-container {
    width: 375px;
    height: 700px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 5px 5px hsl(228, 4%, 77%);
}


.result-container {
    width: 375px;
    height: 300px;
    border-radius: 10px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 380px;
}

.head-item {
    text-align: left;
}

.cat-1 {
    display: flex;
    border: none;
    width: 325px;
    height: 50px;
    background-color: hsl(0, 71%, 91%);
    border-radius: 10px;
    vertical-align: middle;
}

.cat-2 {
    display: flex;
    border: none;
    width: 325px;
    height: 50px;
    background-color: hsl(39, 71%, 91%);
    border-radius: 10px;
}

.cat-3 {
    display: flex;
    border: none;
    width: 325px;
    height: 50px;
    background-color: hsl(166, 71%, 91%);
    border-radius: 10px;
}

.cat-4 {
    display: flex;
    border: none;
    width: 325px;
    height: 50px;
    background-color: hsl(234, 39%, 90%);
    border-radius: 10px;
}

svg {
    padding-left: 10px;
    padding-right: 10px;
}

.cat-1 > p:nth-child(3){
    padding-left: 125px;
    /* flex-basis: 200px;
    text-align: right; */
}

.cat-2 > p:nth-child(3){
    padding-left: 130px;
    /* flex-basis: 200px;
    text-align: right; */
}

.cat-3 > p:nth-child(3){
    padding-left: 145px;
    /* flex-basis: 200px;
    text-align: right; */
}

.cat-4 > p:nth-child(3){
    padding-left: 146px;
    /* flex-basis: 200px;
    text-align: right; */
}

button {
    font-size: 18px;
    border-radius: 50px;
    border: none;
    width: 325px;
    height: 50px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
}