@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* summary component */
.main-container {
    width: 375px;
    height: auto;
    border-radius: 10px;
    margin: 5rem;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 5px 5px hsl(228, 4%, 77%);
}

.result-container {
    text-align: center;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    padding: 2rem 2rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary-container {
    padding: 1rem 2rem;
}

.summary-container .summary {
    padding-bottom: 1rem;
}
.main-container .box {
    margin-right: 0.5rem;
}
.main-container .summary-container p {
    color: black;
    font-weight: bold;
}

.main-container .summary-container span {
    color: grey;
}

.main-container .summary-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container ul li {
    display: flex;
}

.cat-1 {
    border-radius: 0.75rem;
    background-color: hsl(0, 60%, 94%);
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
}

.cat-2 {
    border-radius: 0.75rem;
    background-color: hsl(40, 69%, 95%);
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
}

.cat-3 {
    border-radius: 0.75rem;
    background-color: hsl(166, 100%, 97%);
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
}

.cat-4 {
    border-radius: 0.75rem;
    background-color: hsl(232, 100%, 97%);
    padding: 1.25rem 1rem;
    margin-bottom: 1rem;
}

.cat-1 b{
    color: hsl(0, 100%, 67%);
}

.cat-2 b{
    color: hsl(39, 100%, 56%);
}

.cat-3 b{
    color: hsl(166, 100%, 37%);
}

.cat-4 b{
    color: hsl(234, 85%, 45%);
}

.submit-button {
    border-radius: 0.75rem;
    padding: 1.25rem 1rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background-color: hsl(224, 30%, 27%);
}

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle h1 {
    font-size: 55px;
    font-weight: 800;
}

.circle h2 {
    padding: 2rem 2rem;
}

.circle h3 {
    padding-bottom: 2rem;
}

.circle h3,p {
    color: hsl(241, 100%, 89%);
}

@media (min-width: 768px) {
    .main-container {
        display: flex;
        width: 750px;
        height: 500px;
    }

    .result-container {
        width: 50%;
        padding: 2.5rem 2rem;
    }

    .summary-container {
        width: 50%;
        padding: 2.5rem 2rem;
    }
}